body {
    background-color: skyblue;
    color:white;
}

h1 {
    justify-content: center;
    font-size: 50px;
    color: black;
}



.container {
    height: 150px;
}

#map {
    /* background-color: blueviolet; */
    width: 550px;
    height: 300%;
    margin: 0 auto;
    padding: 10px;

}
